# Node.js
node_modules/
package-lock.json

# React Native
*.iml
.gradle/
built/
android/.gradle/
android/app/build/
android/local.properties

# Environment Files
.env
.env.local
.env.development
.env.test
.env.production

dist/
.expo/
firebase-debug.log
